.top-\[32px\] {
	top: 32px !important;
}

.pt-\[76px\] {
	padding-top: 76px;
}

.h-\[76px\] {
	height: 76px;
}

.site-dark-logo {
	display: none;
}

.dark-mode .site-light-logo {
	display: none;
}

.dark-mode .site-dark-logo {
	display: inline-block;
}
