.h-full {
	height: 100%
}

.w-full {
	width: 100%
}

.object-cover {
	-o-object-fit: cover;
	object-fit: cover
}

.object-center {
	-o-object-position: center;
	object-position: center
}

.bg-current {
	background-color: currentColor !important;
}

.w-40 {
	width: 40px;
}

.row-margin {
	margin-right:calc(-0.5 * var(--bs-gutter-x)) !important;
	margin-left: calc(-0.5 * var(--bs-gutter-x)) !important;
}

.mb-0-last-child > *:last-child {
	margin-bottom: 0 !important;
}

.pb-\[2rem\] {
	padding-bottom: 2rem !important;
}

@media (min-width: 768px) {
	.px-md-\[2px\] {
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
}

.mw-none {
	max-width: none;
}

.gap-y-\[1\.5rem\] > * + * {
	margin-top: 1.5rem;
}

.mh-0 {
	min-height: 0;
}

.border-radius-start-0 {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.border-radius-end-0 {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
