.wpforms-container ul {
	padding: 0;
}

.si-form-check-input {
	width: 1rem !important;
    height: 1rem !important;
    margin-top: 0.3rem !important;
    vertical-align: top !important;
}

.wpf-sc-p-0 .wpforms-submit-container {
    padding: 0 !important;
}